{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>
<body>
    <header class="header">
        <div class="header__menu menu">
            <a href="" class="logo">VF</a>
            <div class="search-box">
                <input type="text" placeholder="Введите для поиска...">
                <a href="#" class="search-btn">Найти</a>
            </div>

        </div>

    </header>

    <main class="page">
        <div class="fullmenu">
                <nav class="fullmenu__container">
                    <ul class="fullmenu__list">
                        <li><a href="" class="fullmenu__link">Таблица товаров</a></li>
                        <li><a href="" class="fullmenu__link">Что-то еще</a></li>
                    </ul>
                </nav>
        </div>
    </main>

    <div class="products__container">
        <div class="filters">

        </div>
    </div>




</body>
</html>